.full_table {
  display: flex;
  margin-left: 0.3mm;
  margin-top: 0.3mm;
  color: rgb(255, 255, 255);

  width: 600mm;
  height: 250mm;
  flex-direction: column;
  font-family: "HeliosBold";
  border: 1px dotted gray;
  justify-content: space-between;
}

.table_container {
  background-color: rgb(49, 39, 131);
  margin: 20mm;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  line-height: 1.1;
}
.adress_container {
  height: 90mm;
  display: flex;
  width: 100%;
}

.adress_name {
  /* flex row full_adress base_blue_white space_between align_center */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(49, 39, 131);
  align-content: stretch;
  /* align-items: center; */
  padding-left: 20mm;
  padding-right: 20mm;
  height: 100%;
  align-items: flex-end;
  width: 100%;
}
.adress_name > div {
  display: flex;
  /* width: 100%; */
}

.logo {
  /* "flex row space_between flex_end" */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 13mm;
  padding-top: 18mm;
  padding-right: 18mm;
  height: 35mm;
  width: 232mm;
  background-color: white;
}

/* ////////////////////////////////// */
.bottom {
  display: flex;
  flex-direction: row;
  /* margin-left: 18mm;
  margin-right: 18mm;
  margin-bottom: 18mm; */
  height: 119mm;
}
.bottom * {
  font-family: "HeliosRegular";
}
.type {
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
  background-color: rgb(49, 39, 131);
}

.typeContent {
  vertical-align: text-top;
  font-size: 130pt;
  letter-spacing: 7mm;
  margin-left: 23mm;

  margin-bottom: 6mm;
  margin-top: -15mm;
}

.typeAndLogo {
  width: 277mm;
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 39, 131);
}
.number {
  display: flex;
  /* background-color: rgb(49, 39, 131); */
  width: 100%;
}
.number * {
  display: flex;
}
.numberContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-bottom: 10mm;
  font-family: "HeliosRegular";
  width: 100%;
  align-items: flex-end;
  line-height: 0.99;
}
