@font-face {
  font-family: "Helios";
  src: url("./fonts/heliosBold.eot") format("embedded-opentype"),
    url("./fonts/heliosBold1.woff") format("woff"),
    url("./fonts/heliosBold2.woff2") format("woff2");
}
.App {
  
}

.enterance_table{
  display: flex;
  flex-direction: row;
  width: 500mm;
}

.full {
  height: 100%;
  justify-content: space-between;
}
.fff {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 4mm;
}
.base {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2pt;
  display: flex;
  background-color: rgb(49, 39, 131);
  color: rgb(255, 255, 255);
}
.base_blue_white {
  /* background-color: rgb(49, 39, 131);
  color: rgb(255, 255, 255); */
}

.adress {
  justify-content: center;
  padding: 0.5rem;
}
.ladder_num {
  padding: 0.5rem;
}
.big_ladderN {
  font-size: 80px;
}
.small_ladderN {
  font-size: 50px;
}

.line {
  gap: 2.5mm;
  height: 100%;
  align-content: stretch;
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
}

.collumn1 {
  width: 30%;
}
.collumn2 {
  width: 70%;
}

.collumn {
  /* border: 1px solid red; */
  height: 100%;
}
.full__table {
  display: flex;
  gap: 2.8mm;
  flex-direction: column;
  align-content: stretch;
  width: 100%;
  text-transform: uppercase;
  font-family: "Helios";
  display: flex;
  flex-direction: column;
  border: 1px dotted black;
}

.small_table {
  padding-top: 10mm;
  padding-left: 10mm;
  padding-right: 10mm;
}
.medium_table {
  padding-top: 15mm;
  padding-left: 15mm;
  padding-right: 15mm;
}
.big_table {
  padding-top: 15mm;
  padding-left: 15mm;
  padding-right: 15mm;
}
.settings {
  display: flex;
  flex-direction: column;
  width: 80mm;
  margin-left: 20mm;
  gap: 3mm;
  font-size: 20px;
}

.top {
  font-size: 34pt;
}

.standart_logo {
  display: flex;
  flex-direction: row;
  height: 25mm;
  align-items: flex-end;
  justify-content: space-between;
}

.small_logo {
  height: 19mm;
  padding-top: 7mm;
  padding-bottom: 12mm;
}
.medium_logo {
  height: 25mm;
  padding-top: 10mm;
  padding-bottom: 15mm;
}
.big_logo {
  height: 30mm;
  padding-top: 10mm;
  padding-bottom: 15mm;
}

.logo_img {
  height: 100%;
}

.logo_text {
  height: 90%;
}

.left {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  white-space: inherit;
  margin-left: 5mm;
}

.center {
  width: 20%;
  display: flex;
  justify-content: center;
  white-space: inherit;
}

.right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  white-space: inherit;
  margin-right: 5mm;
}
